*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #f5f5f5;

}
.app{
    background-color: #a2e8b4;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;
    border-radius: 1px solid #333;
    padding-bottom: 30px;
    /* background-color: rgba(210, 193, 193, 0.396); */

}
.quiz{
    padding: 20px 0 ;}
.quiz h2{
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;

}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transform: all 0.3s;
    display: flex;

}
.btn:hover{
    background: #e4cf0d;
    color: #fff;
}

#next-btn{
    background: #222;
    color: #fff;
    font-weight: 500;
    width: 100px;
    border: 1px solid #222;
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transform: all 0.3s;
    display: none;
}
#next-btn:hover{
    background: #19d047;
    color: #222;
}
