*{
    margin: 0%;
    border: 0;
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10rem;
    width: 20rem;

    background-color: rgb(247, 145, 152);
    border: 0.2rem solid black;
    transform: translate(-50% ,-50%);

}